{{extend '../_layouts/home.html'}} {{block 'body'}}
<section class="container edit_area">
    <div class="row">
        <div class="col-sm-12 col-lg-9 edit_main">
            <form id="post_form">
                <div class="form-group input_classify">
                    <label for="classify">選擇分類</label>
                    <div class="select_group">
                        <select class="form-control" name="classify" id="classify">
                            <option value="前端框架" {{if edit.classify =="前端框架" }}selected {{/if}} >前端框架</option>
                            <option value="Javascript" {{if edit.classify =="Javascript" }}selected {{/if}} >Javascript</option>
                            <option value="CSS相關" {{if edit.classify =="CSS相關" }}selected {{/if}} >CSS相關</option>
                            <option value="UIUX相關" {{if edit.classify =="UIUX相關" }}selected {{/if}} >UIUX相關</option>
                            <option value="後端相關" {{if edit.classify =="後端相關" }}selected {{/if}} >後端相關</option>
                            <option value="其他分享" {{if edit.classify =="其他分享" }}selected {{/if}} >其他分享</option>
                        </select>
                        <select class="form-control " name="issue" id="issue">
                            <option value="心得"  {{if edit.issue =="心得" }}selected {{/if}} >心得</option>
                            <option value="問題" {{if edit.issue =="問題" }}selected {{/if}} >問題</option>
                            <option value="討論" {{if edit.issue =="討論" }}selected {{/if}} >討論</option>
                            <option value="閒聊" {{if edit.issue =="閒聊" }}selected {{/if}} >閒聊</option>
                            <option value="教學" {{if edit.issue =="教學" }}selected {{/if}} >教學</option>
                        </select>
                    </div>
                </div>
                <div class="form-group input_title">
                    <label for="title">標題</label>
                    <input type="text" id="title" class="form-control" name="title" required value={{edit.title}}>
                </div>
                <div class="form-group">
                    <label for="content">內容（ 可使用markdown語法 ）</label>
                    <textarea name="content" id="content" cols="30" rows="10" class="form-control" required>{{@ edit.content}}</textarea>
                </div>
                <input type="hidden" name="aticle_id" value="{{@ edit._id}}" id="aticle_id">
                <input type="hidden" name="issuer" value="{{@ user._id}}">
                <input type="submit" class="btn btn-primary" value="更新文章">
                <a href="/admin" class="btn btn-default">取消</a>
            </form>
        </div>
        <div class="col-sm-12 col-lg-3  blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h4>About me</h4>
                <p>{{user.bio}}</p>
            </div>
            <div class="sidebar-module">
                <h4>近期發表文章</h4>
                <ol class="list-unstyled">
                    {{ each commentList.slice(0,4)}}
                    <li><a href="article?id={{@ $value._id}}">{{$value.title}}</a></li>
                    {{/each}}
                </ol>
            </div>
            <div class="sidebar-module">
                <h4>個人資訊</h4>
                <ol class="list-unstyled">
                    <li>發表過的文章數：{{commentList.length}}</li>
                    <li>文章總瀏覽次數：{{seen? seen : 0}}</li>

                </ol>
            </div>
        </div>
        <!-- /.blog-sidebar -->
    </div>
</section>
{{/block}} {{block 'script'}}
<script>
    (function($) {
        $('#post_form').on('submit', function(e) {
            e.preventDefault()
            let formData = $(this).serialize()
            $.ajax({
                url: '/updateArticle',
                type: 'post',
                datatype: 'json',
                data: formData
            }).done(function(res) {
                if (res.err_code === 0) {
                    window.location.href = '/article?id=' + $('#aticle_id').val()
                } else {
                    alert('伺服器忙線中，請稍後重試')
                }
            }).fail(function(err) {
                console.log(err)
            })
        })
    }($))
</script>

{{/block}}