{{extend '../_layouts/home.html'}} {{block 'body'}}
<section class="container edit_area">
    <div class="row">
        <div class="col-sm-12 col-lg-9 edit_main">
            <form id="post_form">
                <div class="form-group input_classify">
                    <label for="classify">選擇分類</label>
                    <div class="select_group">
                        <select class="form-control" name="classify" id="classify">
                            <option>前端框架</option>
                            <option>Javascript</option>
                            <option>CSS相關</option>
                            <option>UIUX相關</option>
                            <option>後端相關</option>
                            <option>其他分享</option>
                        </select>
                        <select class="form-control " name="issue" id="issue">
                            <option>心得</option>
                            <option>問題</option>
                            <option>討論</option>
                            <option>閒聊</option>
                            <option>教學</option>
                        </select>
                    </div>
                </div>
                <div class="form-group input_title">
                    <label for="title">標題</label>
                    <input type="text" id="title" class="form-control" name="title" required>
                </div>
                <div class="form-group">
                    <label for="content">內容</label>
                    <textarea name="content" id="content" cols="30" rows="10" class="form-control" required></textarea>
                </div>
                <input type="hidden" name="issuer" value="{{user._id}}">
                <input type="submit" class="btn btn-primary" value="發表文章">
                <a href="/" class="btn btn-default">取消</a>
            </form>
        </div>
        <div class="col-sm-12 col-lg-3  blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h4>About me</h4>
                <p>{{user.bio}}</p>
            </div>
            <div class="sidebar-module">
                <h4>近期發表文章</h4>
                <ol class="list-unstyled">
                    {{ each info && info.current}}
                    <li><a href="{{$value.link}}">{{$value.title}}</a></li>
                    {{/each}}
                </ol>
            </div>
            <div class="sidebar-module">
                <h4>個人資訊</h4>
                <ol class="list-unstyled">
                    <li>發表過的文章數：{{info? info.total : 0}}</li>
                    <li>文章總瀏覽次數：{{info? info.totalSeen : 0}}</li>

                </ol>
            </div>
        </div>
        <!-- /.blog-sidebar -->
    </div>
</section>
{{/block}} {{block 'script'}}
<script>
    (function($) {
        $('#post_form').on('submit', function(e) {
            e.preventDefault()
            var content = document.getElementById('content').value;
            content = content.replace(/\r\n/g, '<br/> +');
            document.getElementById('content').value = content;
            let formData = $(this).serialize()
            $.ajax({
                url: '/post',
                type: 'post',
                datatype: 'json',
                data: formData
            }).done(function(res) {
                if (res.err_code === 0) {
                    window.location.href = '/'
                } else {
                    alert('伺服器忙線中，請稍後重試')
                }
            }).fail(function(err) {
                console.log(err)
            })
        })
    }($))
</script>

{{/block}}