{{extend './_layouts/home.html'}} {{block 'body'}}{{if commentList}}
<div class="search_bar">
    <form action="/search" method="GET" class="navbar-form navbar-left">
        <div class="form-group">
            <input name="search" type="text" class="form-control" placeholder="Search">
        </div>
        <input type="submit" class="btn btn-default" value="搜尋">
    </form>

    <p class="search_res">當前搜尋關鍵字：<span>{{search}}</span></p>

</div>
{{/if}}{{if commentList}}
<section class="container">
    <div class="row">
        <div class="col-xs-12 col-md-10 media_area">

            <div class="media-head">
            </div>
            <ul class="media-list">
                {{ each commentList}}
                <div class="media-item">
                    <div class="media-pic">
                        <img src="{{$value.headimg}}" alt="headimg" class="media-object">
                    </div>
                    <div class="media-classify">
                        <span>【{{$value.classify}}】</span>
                        <span>
                          {{$value.issue}}
                        </span>
                    </div>
                    <div class="media-content">
                        <a href="/article?id={{$value.theId}}" class="media-title">{{$value.title}}</a>
                        <p><span>發布時間：</span><span>{{$value.show_create_time}}</span><span>　|　{{$value.good}} 個讚</span><span>　|　{{$value.reply}} 則回覆</span><span>　|　{{$value.seen}} 人觀看　|　</span><span>作者：{{$value.username}}</span>　</p>
                    </div>
                </div>

                </li>
                {{ /each }}
            </ul>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {{if nowPage>1}}
                    <li>
                        <a href="/?page={{@ nowPage-1}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {{ /if}} {{each pageArray}}
                    <li class="{{nowPage == $value? 'active' : ''}}"><a href="/?page={{$value}}">{{$value}}</a></li>
                    {{/each}} {{if pageArray.length>nowPage }}
                    <li>
                        <a href="/?page={{@ nowPage-(-1) }}" aria-label="Next">
                            <span aria-hidden="ture">&raquo;</span>
                        </a>
                    </li>
                    {{ /if}}
                </ul>
            </nav>
        </div>
    </div>
</section>
{{else}}
<section class="container">
    <div class="noFind">
        <span>找不相關的搜尋結果：{{search}}</span>
        <br> 提醒您，關鍵字的搜尋條件僅有文章標題
        <br> 您可更換其他關鍵字試試：
        <div class="search_bar">
            <form action="/search" method="GET" class="navbar-form navbar-left">
                <div class="form-group">
                    <input name="search" type="text" class="form-control" placeholder="Search">
                </div>
                <input type="submit" class="btn btn-default" value="搜尋">
            </form>

        </div>
        <br>

    </div>
</section>
{{ /if}} {{/block}}