html,
body {
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,500,700&display=swap');
* {
    font-family: 'Noto Sans TC', sans-serif;
}

h1 {
    font-family: 'Noto Sans TC', '微軟正黑體';
    font-weight: 400;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: url('./bgc.jpg');
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.main {
    /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #98989899; */
    background-image: linear-gradient(-20deg, #2e2e2eaa, #464646aa);
    background-blend-mode: multiply, multiply;
    ;
    padding: 20px 60px 60px;
    border-radius: 8px;
    color: #fff;
}

.form-control {
    background-color: transparent;
    color: #fff;
}

.form-group {
    padding: 12px;
}

select,
option {
    font-size: 18px;
    padding: 0 2px;
    margin-left: 4px;
    background-color: transparent;
}

option {
    background-color: #444;
}

.MyContainer {
    width: 400px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width:575px) {
    .main {
        padding: 4px 4px 12px;
        border-radius: 8px;
        color: #fff;
    }
    .MyContainer {
        width: 90vw;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
}

.mb_40px {
    margin-bottom: 40px;
}

label {
    font-size: 18px;
    font-weight: 400 !important;
}

input[type=submit] {
    background-color: #2A77BD;
    border: none;
    transition: .3s;
}

input[type=submit]:hover {
    background-color: rgb(36, 102, 165);
    border: none;
}

.register {
    color: skyblue;
}

.register:hover {
    color: rgb(149, 225, 255);
    color: 18px;
    text-decoration: none;
}

.noPassword {
    color: rgb(255, 255, 255);
    display: inline-block;
    line-height: 25px;
    margin-bottom: 5px;
}

.noPassword:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.mybtn {
    background-color: rgb(121, 121, 121);
    text-align: center;
    color: #fff;
    transition: .3s;
    border: none;
}

.mybtn:hover {
    background-color: rgb(100, 100, 100);
    text-decoration: none;
    color: #fff;
}

.login {
    color: skyblue;
    color: 18px;
}

.login:hover {
    color: rgb(149, 225, 255);
    color: 18px;
    text-decoration: none;
}

.loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeOut .5s 2s;
    animation-fill-mode: forwards;
    z-index: 888;
    background-color: #fff;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}