<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/">前端共學平台</a>
                <a href="/post" class="btn btn-success mybtn">發表新文章</a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                    {{if !user}}
                    <li><a href="/login" class="btn-login">登入</a></li>
                    <li><a href="/register" class="btn-reg">註冊</a></li>
                    {{/if}} {{if user}}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle head_name" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <img src="{{user.headimg}}" id="user_headimg" alt="loginImg" class="loginImg">
                            <span id="user_username">{{ user.username }}</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/admin?user={{user.username}}">文章管理</a></li>
                            <li><a href="/profile?user={{user.username}}">編輯個人資訊</a></li>
                            <!-- <li><a href="#" class="on-dev">我的小屋</a></li>
                            <li><a href="#" class="on-dev">修改密碼</a></li> -->
                            <li><a href="/logout" class="logout">登出</a></li>
                        </ul>
                        {{/if}}
                    </li>
                </ul>

            </div>
            <!-- /.navbar-collapse -->

        </div>
        <!-- /.container-fluid -->
    </nav>
</header>